*.directory
*.zip

_template
_samples
_docs

__pycache__
src/__pycache__/
src/addon
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/096b2170-472c-4091-a260-419058576bd8
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/0ae6a13f-b5c0-47b9-ac7d-21896871f8bc
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/0bf8ffa0-f304-4342-b7f1-6bc43c98938b
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/0cca2b19-c8bb-4134-946c-7d765379a8d8
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/12e348b0-189d-44ef-b548-b0f13992b0c4
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/1d440c2c-16bb-4aca-a23e-beb5a4acb6a4
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/301ba61d-4897-4029-aa46-1b5676a97d43
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/37d6d19b-f156-4de1-b64a-526a1e97b437
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/382f89e9-2579-4631-9d15-73174a5b19e7
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/3c45ea0a-0baf-4301-9362-b4578d7cabbc
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/426a1fc1-5908-4cd1-9a9f-342649179fb6
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/44315947-005a-4553-9ce9-466da2ae2fb6
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/4cf7ebc2-dd77-40f4-ab2b-2cc408f9f821
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/506878e6-3cf3-4094-b013-f5068f22033c
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/51e23b14-ceb4-4d4f-ae12-c461e8ad68b5
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/5944f03f-0225-418b-9f28-bcbdf61e8eaa
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/5cb23f99-b29c-4fb1-a2e6-4d7a9bc69d2d
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/5e225661-9092-4b79-9848-828cb4db9518
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/627f575c-c198-46f3-988c-0da69d24d319
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/6b8c6fbd-dc4e-4539-af87-86ee916095fb
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/74a08415-3e79-4faa-91a1-40c404f3aec4
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/75c33bba-642a-4fc9-b892-20ebce470b28
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/8d1d149c-d1da-472c-a229-e405d50d91bc
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/989de365-4ffc-4987-8db4-67f4b58bf296
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/a8f300f6-2dcc-4efa-ab3f-da9840bc2afc
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/bc1490cc-98d2-4695-a0c5-54ea1704aff6
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/bcbccfbb-4825-4e4b-bebb-59c29b8589fb
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/d664bf68-8588-4cce-a4c1-4bda93629a5d
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/d766ed87-4df6-4cfe-b3f6-397c0b877299
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/df9b4fdb-eefa-4896-a3b0-d5614ea7edaa
/.vs/blender-NaomiLib/copilot-chat/b40fdf3c/sessions/f7e2918d-127a-4af5-abc8-2be996ee37db
/.vs/blender-NaomiLib/CopilotIndices
/.vs/blender-NaomiLib/FileContentIndex
/.vs/blender-NaomiLib/v17
